:root {
  background-color: #4a4a4a;
  color: #d5d5d5;
  font-family: "Noto Sans", serif;
  font-size: 16px;
}

:not(.skip-link):focus {
  outline: 5px solid rgb(131, 234, 248);
}

.skip-link {
  color: white;
  padding: 0.5rem;
  top: 0;
  left: 0;
  position: absolute;
}

.skip-link a {
  color: #4a4a4a;
}

body {
  padding-left: 1rem;
}

body p .ff1 {
  /* width: 500px; */
  width: 31.25rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* when screen shrinks, get rid of the flex */
@media screen and (max-width: 1000px) {
  .flex-container {
    display: contents;
    flex-wrap: nowrap;
  }
}

.flex-container > * {
  flex-basis: 47%;
}

.useful-links {
  padding-left: 0.7rem;
}

.useful-links a:hover {
  opacity: 80%;
}

/* not actually purple, but i kept the name */
.purple {
  color: rgb(255, 250, 248);
}

.email-color {
  color: rgb(255, 250, 248);
}

.website-links {
  display: flex;
  flex-wrap: wrap;
}

.website-links li {
  padding-right: 1.25rem;
}

.website-links a {
  color: rgb(255, 250, 248);
  padding-right: 1.25rem;
  text-decoration: none;
}

.website-links p {
  margin: 0;
  line-height: 0;
  text-decoration: underline;
}

.website-links p:hover {
  opacity: 80%;
}

.website-links li:hover img {
  opacity: 0.5;
  border: 0.0625rem solid black;
}

.website-links a img {
  /* padding-top: 0.3125rem; */
  width: 25rem;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.875rem;
  text-align: center;
  font-style: italic;
}